@{
    ViewData["Title"] = "Home Page";
}
<h1>Buffteks</h1>
<h4>This should serve to aid students and our clients to keep track of who is working on which
    project.
</h4>
<h4>To create a new project go to the project link on the left and click "create new"<br><br>
For new Clients, go to the Clients section (third item from the top) and click "create new"<br><br>
    New members are added using the following steps: go to Members link click "create new" fill
    in the new member information and hit enter<br><br>
    There are few simple rules to this website:<br><br>
    Project can only have one client<br><br>
    Members can work on only one project<br><br>
    
</h4>


<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-4">
					<div class="card">
						<img class="card-img-top" alt="Bootstrap Thumbnail First" src="~/images/wtt.png" width="250" height="250" />
						<div class="card-block">
							<h5 class="card-title">
								WTAMU CIS Program
							</h5>
							<p class="card-text">
								The mission of the Department of Computer Information and Decision Management (CIDM) is to provide its students with rigorous and relevant programs and assume leadership roles in the fields of business computing, information technology and decision support. 
							</p>
							<p>
								<a class="btn btn-success" href="https://www.cis.wtamu.edu/">More</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card">
						<img class="card-img-top" alt="Bootstrap Thumbnail Second" src="~/images/bt.jpg" width="320" height="180" />
						<div class="card-block">
							<h5 class="card-title">
								Digital Design
							</h5>
							<p class="card-text">
								Even though Buffteks is mainly about the improvement of coding skills through various projects that are completed for various clients Buffteks is also for people with designer talent.
							</p>
							<p>
								<a class="btn btn-success" href="http://buffteks.babbster.net/#content">Learn more</a> 
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card">
						<img class="card-img-top" alt="Bootstrap Thumbnail Third" src="~/images/buff.jpg" width="250" height="250" />
						<div class="card-block">
							<h5 class="card-title">
								Community
							</h5>
							<p class="card-text">
                                Buffteks club is mainly for people from the Computer Information Systems major, people from different colleges are always welcome in the buffteks community
							</p>
							<p>
								<a class="btn btn-success" href="https://plus.google.com/communities/103786778853722637637">Community</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
